<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BlueAcorn_UniversalAnalytics>
            <version>0.1.0</version>
        </BlueAcorn_UniversalAnalytics>
    </modules>
    <global>
        <helpers>
            <baua>
                <class>BlueAcorn_UniversalAnalytics_Helper</class>
            </baua>
        </helpers>
        <models>
            <baua>
                <class>BlueAcorn_UniversalAnalytics_Model</class>
            </baua>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <baua module="BlueAcorn_UniversalAnalytics">
                    <file>blueacorn/universalanalytics.xml</file>
                </baua>
            </updates>
        </layout>
        <events>
            <sales_quote_remove_item>
                <observers>
                    <baua>
                        <type>model</type>
                        <class>baua/observer</class>
                        <method>removeProductJs</method>
                    </baua>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_product_add_after>
                <observers>
                    <baua>
                        <type>model</type>
                        <class>baua/observer</class>
                        <method>addProductJs</method>
                    </baua>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_submit_all_after>
                <observers>
                    <baua>
                        <type>model</type>
                        <class>baua/observer</class>
                        <method>captureTransactionJS</method>
                    </baua>
                </observers>
            </checkout_submit_all_after>
	    <catalog_product_load_after>
		<observers>
		    <baua>
			<type>model</type>
			<class>baua/observer</class>
			<method>viewProduct</method>
		    </baua>
		</observers>
	    </catalog_product_load_after>
        </events>
    </frontend>
    <default>
        <baua>
            <settings>
                <enabled>0</enabled>
            </settings>
            <translation>
                <addproduct>
                    <entity_id>id</entity_id>
                    <sku>sku</sku>
                    <name>name</name>
                    <entity_type_id>category</entity_type_id>
                    <manufacturer>brand</manufacturer>
                    <price>price</price>
                    <qty>qty</qty>
                    <cart_qty>cart_qty</cart_qty>
                    <type_id>type_id</type_id>
                </addproduct>
                <removeproduct>
                    <product_id>id</product_id>
                    <sku>sku</sku>
                    <name>name</name>
                    <qty>qty</qty>
                    <price>price</price>
                    <product_type>product_type</product_type>
                </removeproduct>
                <capturetransaction>
                    <entity_id>id</entity_id>
                    <product_id>product</product_id>
                    <name>name</name>
                    <type_id>category</type_id>
                    <entity_type_id>entity_type_id</entity_type_id>
                    <manufacturer>brand</manufacturer>
                    <price>price</price>
                    <coupon_code>coupon</coupon_code>
                    <total_qty_ordered>quantity</total_qty_ordered>
                    <total_item_count>product_count</total_item_count>
                </capturetransaction>
                <capturetransactionitems>
                    <name>name</name>
                    <entity_id>id</entity_id>
                    <shipping_amount>shipping</shipping_amount>
                    <coupon_code>coupon</coupon_code>
                    <price_incl_tax>revenue</price_incl_tax>
                    <!--<grand_total>price</grand_total>-->
                    <items_qty>quantity</items_qty>
                    <!--<total_item_count>product_count</total_item_count>-->
                    <product_type>product_type</product_type>
                </capturetransactionitems>
            </translation>
        </baua>
    </default>
</config>


