<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BlueAcorn_UniversalAnalytics>
            <version>0.5.2</version>
        </BlueAcorn_UniversalAnalytics>
    </modules>
    <global>
        <helpers>
            <baua>
                <class>BlueAcorn_UniversalAnalytics_Helper</class>
            </baua>
        </helpers>
        <models>
            <baua>
                <class>BlueAcorn_UniversalAnalytics_Model</class>
            </baua>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <baua module="BlueAcorn_UniversalAnalytics">
                    <file>blueacorn/universalanalytics.xml</file>
                </baua>
            </updates>
        </layout>
        <events>
	    <catalog_product_load_after>
		<observers>
		    <baua>
			<type>model</type>
			<class>baua/observer</class>
			<method>viewProduct</method>
		    </baua>
		</observers>
	    </catalog_product_load_after>

	    <catalog_product_collection_load_after>
		<observers>
		    <baua>
			<type>model</type>
			<class>baua/observer</class>
			<method>viewProductCollection</method>
		    </baua>
		</observers>
	    </catalog_product_collection_load_after>

	    <controller_action_layout_generate_blocks_after>
		<observers>
		    <baua>
			<type>model</type>
			<class>baua/observer</class>
			<method>viewPage</method>
		    </baua>
		</observers>
	    </controller_action_layout_generate_blocks_after>

	    <core_block_abstract_to_html_after>
		<observers>
		    <baua>
			<type>model</type>
			<class>baua/observer</class>
			<method>viewPromotion</method>
		    </baua>
		</observers>
	    </core_block_abstract_to_html_after>

        </events>
    </frontend>
    <default>
        <baua>
            <settings>
                <enabled>0</enabled>
            </settings>
            <translation>
                <addImpression>
                    <id>entity_id</id>
                    <name>name</name>
                    <!-- list -->
                    <brand>manufacturer</brand>
                    <category>category_collection</category>
                    <variant>color</variant>
                    <!-- position -->
                    <price>
                    <specialPrice/>
                    <price/>
                    </price>
		    <list>blank</list>
		    <position>blank</position>
                </addImpression>

                <addPromo>
                    <id>banner_id</id>
                    <name>name</name>
                </addPromo>
                <addProduct>
                    <id>entity_id</id>
                    <name>name</name>
                    <category>category_collection</category>
                    <brand>manufacturer</brand>
		    <variant>color</variant>
                    <price>
                        <specialPrice/>
                        <price/>
                    </price>
                    <quantity>
			<qty/>
			<qty_ordered/>
		    </quantity>
		    <list>blank</list>
		    <position>blank</position>
                </addProduct>
                <removeproduct>
                    <product_id>id</product_id>
                    <sku>sku</sku>
                    <name>name</name>
                    <qty>qty</qty>
                    <price>price</price>
                    <product_type>product_type</product_type>
                </removeproduct>
                <capturetransaction>
                    <entity_id>id</entity_id>
                    <product_id>product</product_id>
                    <name>name</name>
                    <type_id>category</type_id>
                    <entity_type_id>entity_type_id</entity_type_id>
                    <manufacturer>brand</manufacturer>
                    <price>price</price>
                    <coupon_code>coupon</coupon_code>
                    <total_qty_ordered>quantity</total_qty_ordered>
                    <total_item_count>product_count</total_item_count>
                </capturetransaction>
                <capturetransactionitems>
                    <name>name</name>
                    <entity_id>id</entity_id>
                    <shipping_amount>shipping</shipping_amount>
                    <coupon_code>coupon</coupon_code>
                    <price_incl_tax>revenue</price_incl_tax>
                    <!--<grand_total>price</grand_total>-->
                    <items_qty>quantity</items_qty>
                    <!--<total_item_count>product_count</total_item_count>-->
                    <product_type>product_type</product_type>
                </capturetransactionitems>
                <transaction>
                    <entity_id>id</entity_id>
                    <store_name>affiliation</store_name>
                    <base_grand_total>revenue</base_grand_total>
                    <tax_amount>tax</tax_amount>
                    <shipping_amount>shipping</shipping_amount>
                    <coupon_code>coupon</coupon_code>
                </transaction>
            </translation>
        </baua>
    </default>
</config>


